{% extends "base.html" %} 
{% block content %}
          
  <div class="flex mt-5">
    {% if book %}
    <img src="{{book.image.url}}" class="w-96" alt="...">
    {% endif %}
    <div class="p-2 ml-5">
      <h5 class="card-title mb-2 text-lg font-medium">{{book.title}}</h5>
      <p class="card-text mb-2">{{book.description}}</p>
      <h5 class='mb-3 text-lg font-medium'>Price : <small class='text-danger text-base text-red-700'> ${{book.price}}</small> </h5>
      <p><strong>Category:</strong> {% for category in book.category.all %}{{ category.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
      {% if user.is_authenticated %}
        <button class='bg-green-500 mt-4 p-2'><a class='text-decoration-none text-white' href="{% url 'borrow_book' book.id%}">Borrow Now</a></button>
      {% endif %}
      <div class='card m-2'>
        <h5 class='p-3'>Total Reviews : {{reviews | length}}</h5>
        {% for review in reviews %}
        <div class="border-2 p-2 mb-4">
          <p>{{review.body}}</p>
        </div>
        {% endfor %}
      </div>
      <div class='mt-5'>
        {% if is_borrowed and user.is_authenticated %}
      <form method="post">
          {% csrf_token %}
          
          {{ review_form}}
          
          <button class='bg-green-500 mt-4 p-2'>Submit Review</button>
      </form>
    {% else %}
      <p class='text-red-600 mt-4'>You must borrow this book to submit a review.</p>
    {% endif %} 
      </div>
    </div>
  </div>

{% endblock %}
